<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <!--属性文件的读取只能配一次
两种引入文件的方式都是 用propertyConfigurer作为id存上下文中-->
    <!--context  多个配置文件，用，隔开 placeholderlocation="classpath:xx,classpath:xx"-->
    <!--<context:property-placeholder ignore-unresolvable="true" location="classpath:redis.properties" />-->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:jdbc.properties,classpath:redis.properties" />


    <!-- <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
         <property name="locations">
            <list>
               <value>classpath:jdbc.properties</value>
               <value>classpath:redis.properties</value>
            </list>
         </property>
      </bean>-->


    <!-- 引入属性文件 -->
   <!-- <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        &lt;!&ndash; 允许JVM参数覆盖 &ndash;&gt;
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        &lt;!&ndash; 忽略没有找到的资源文件 &ndash;&gt;
        <property name="ignoreResourceNotFound" value="true"/>
        &lt;!&ndash; 配置资源文件 &ndash;&gt;
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>-->

    <import resource="spring.mybatis.xml"/>
    <import resource="spring-shiro.xml"/>
    <import resource="spring-redis.xml" />

</beans>
